/*--------------------------------------------------

                            컬러

--------------------------------------------------*/

$brand: #ea130e;
$black: #333333;
$gray: #868686;
$white: #FFFFFF;