/*--------------------------------------------------

                            컬러

--------------------------------------------------*/

$brand: #ea130e;
$black: #333333;
$gray: #d1d1d1;
$gray_oc: #e6e6e6;
$white: #FFFFFF;