/*--------------------------------------------------

                            레이쇼
                            
--------------------------------------------------*/

$ratio_smaller : 0.6rem;
$ratio_small : 0.8rem;
$ratio_regular : 1rem;
$ratio_big : 1.15rem;
$ratio_bigger : 1.5rem;

$ratio_d1 : 3rem;
$ratio_d2 : 5rem;
$ratio_d3 : 10rem;